@import url('https://fonts.googleapis.com/css2?family=Lato&family=League+Spartan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
	box-sizing: border-box;
	font-family: 'League Spartan', sans-serif;
	line-height: 1.2;
}

root {
	font-size: 14px;
}

body {
	background: #000;
	margin: 0;
	padding: 0;
	color: whitesmoke;
}

a {
	text-decoration: none;
	color: orange;
}

.home {
	font-size: 1.5rem;
	text-align: center;
	background: #000;
	width: 100vw;
	padding: 2vh;
	position: fixed;
	z-index: 9999;
}

.home > a:link {
	text-decoration: none;
	color: #fff;
}
.home > a:visited {
	text-decoration: none;
	color: #fff;
}
.home > a:hover {
	text-decoration: none;
	color: #fff;
}

.title-page {
	height: 100vh;
	width: 100vw;
	padding: 30vh 10vw;
	font-size: 2.6rem;
	font-family: 'DM Serif Display', serif;
}

.title-projects {
	font-size: 2.6rem;
	margin: 8vh 0;
	padding: 0 10vw;
	text-align: left;
	font-family: 'DM Serif Display', serif;
}

.project-container {
	padding: 0 10vw;
	text-align: left;
}

.project-title {
	font-size: 1.5rem;
	margin: 2vh 0;
}

.project-description {
	font-size: 1rem;
	margin-bottom: 10vh;
}

.container-img {
	position: relative;
	padding-bottom: 50%;
	overflow: hidden;
	margin-bottom: 3vh;
}

.container-img > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.cert-img {
	position: relative;
	padding-bottom: 50%;
	overflow: hidden;
	margin: 5vh 10vw;
}

.cert-img > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.iframe-container {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	margin-bottom: 5vh;
}

.iframe-container > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.verify {
	margin: 10vh 0;
	padding: 0 5vw;
	text-align: center;
}

.verify > a:link {
	text-decoration: none;
	color: #ccc;
}

.verify > a:visited {
	text-decoration: none;
	color: #ccc;
}

.verify > a:hover {
	text-decoration: none;
	color: #ccc;
}

.verify > a > i {
	color: #fff;
	font-size: 1.3rem;
	padding: 0 5px;
}
















