@import url('https://fonts.googleapis.com/css2?family=Lato&family=League+Spartan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
	box-sizing: border-box;
	font-family: 'League Spartan', sans-serif;
	line-height: 1.2;
}

root {
	font-size: 14px;
}

body {
	background: #000;
	margin: 0;
	padding: 0;
	color: #fff;
}

.home {
	font-size: 1.5rem;
	text-align: center;
	background: #000;
	width: 100vw;
	padding: 2vh;
	position: fixed;
}

.home > a:link {
	text-decoration: none;
	color: #fff;
}
.home > a:visited {
	text-decoration: none;
	color: #fff;
}
.home > a:hover {
	text-decoration: none;
	color: #fff;
}

.title-page {
	height: 100vh;
	width: 100vw;
	padding: 30vh 10vw;
	font-size: 2.6rem;
	font-family: 'DM Serif Display', serif;
}

.title-projects {
	font-size: 2.6rem;
	margin: 8vh 0;
	text-align: center;
	font-family: 'DM Serif Display', serif;
}

.project-container {
	padding: 0 10vw;
}

.project-title {
	font-size: 1.5rem;
	margin: 2vh 0;
	text-align: center;
}

.project-description {
	font-size: 1rem;
	text-align: center;
	margin-bottom: 10vh;
}

.verify {
	margin: 10vh 0;
	padding: 0 5vw;
	text-align: center;
}

.verify > a:link {
	text-decoration: none;
	color: #ccc;
}

.verify > a:visited {
	text-decoration: none;
	color: #ccc;
}

.verify > a:hover {
	text-decoration: none;
	color: #ccc;
}

.verify > a > i {
	color: #fff;
	font-size: 1.3rem;
	padding: 0 5px;
}
















